<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<link rel="stylesheet" href="../css/index.css">
<link rel="stylesheet" href="../css/ProjectsComponent.css">
<link rel="stylesheet" href="../css/SkillsComponent.css">
<link rel="stylesheet" href="../css/EducationComponent.css">
<link rel="stylesheet" href="../css/ContactComponent.css">
<link rel="stylesheet" href="../css/FooterComponent.css">
<!-- <link rel="stylesheet" href="../css/ToolsComponent.css"> -->
<script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>

<body>
    <header>
        <div id="particles-js">
            <div id="background-animation"></div>
            <nav id="nav">
                <ul class="nav-links" id="nav-links">
                    <li>
                        <div class="link-wrapper">
                            <a href="#projects" class="link"> Projects</a>
                            <hr>
                            <iconify-icon icon="ion:code-slash-outline" width="1.2rem" height="1.2rem"></iconify-icon>
                        </div>
                    </li>
                    <li>
                        <div class="link-wrapper">
                            <a href="#skills" class="link">Skills</a>
                            <hr>
                            <iconify-icon icon="codicon:tools" width="1.2rem" height="1.2rem"></iconify-icon>
                        </div>
                    </li>
                    <li>
                        <div class="link-wrapper">
                            <a href="#Tools" class="link">Tools</a>
                            <hr>
                            <iconify-icon icon="proicons:settings" width="1.2rem" height="1.2rem"></iconify-icon>
                        </div>
                    </li>
                    <li>
                        <div class="link-wrapper">
                            <a href="#education" class="link"> Education</a>
                            <hr>
                            <iconify-icon icon="carbon:education" width="1.2rem" height="1.2rem"></iconify-icon>
                        </div>
                    </li>
                    <li>
                        <div class="link-wrapper">
                            <a href="#contact" class="link">Contact</a>
                            <hr>
                            <iconify-icon icon="ic:outline-email" width="1.2rem" height="1.2rem"></iconify-icon>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="profile-header">
                <img src="/assets/images/img1.jpg" alt="logo">

                <div class="hero">
                    <h1 class="h1">
                        Hi, I'm <span class="text-blue">Ahmed Saad</span>
                    </h1>
                    <p class="student" id="student">
                        Software Developer
                    </p>

                    <div class="hero-btns">
                        <a href="#projects" class="btn-blue">
                            <div class="link-wrapper">
                                <h5 style="color: #fff;">Projects</h5>
                                <hr>
                                <iconify-icon icon="ion:code-slash-outline" width="1.2rem" height="1.2rem"
                                    style="color: #fff;"></iconify-icon>
                            </div>
                        </a>

                        <a href="https://github.com/Zonetto" class="btn-outline" target="_blank">
                            <div class="iconify-icon">
                                <h5>GitHub</h5>
                                <hr>
                                <iconify-icon icon="radix-icons:github-logo" width="1.2rem"
                                    height="1.2rem"></iconify-icon>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- PROJECTS -->
    <div id="ProjectsComponent"></div>
    <!-- PROJECTS -->

    <!-- SKILLS -->
    <div id="SkillsComponent"></div>
    <!-- SKILLS -->

    <!-- EDUCATION -->
    <div id="EducationComponent"></div>
    <!-- EDUCATION -->

    <!-- CONTACT -->
    <!-- <div id="ContactComponent"></div> -->
    <!-- CONTACT -->

    <section id="contact" class="contact-section">
        <div class="contact-container">
            <h1>Contact <span>Me</span></h1>
            <div class="contact-form">
                <h1>Send <span>Email</span></h1>
                <form @submit.prevent="sendEmail">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" v-model="form.name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" v-model="form.email" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea id="message" class="fixed-textarea" v-model="form.message" rows="5" required></textarea>
                    </div>
                    <button type="submit">Send Message</button>
                </form>
            </div>
            <p v-if="successMessage" class="success-message">{{ successMessage }}</p>
            <p v-if="errorMessage" class="error-message">{{ errorMessage }}</p>
        </div>
    </section>

    <!-- FOOTER -->
    <div id="FooterComponent"></div>

    <footer></footer>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2.6.4/dist/email.min.js"></script>
    <!-- <script>
        emailjs.init("It91k0r15PgN_HA8u"); 
    </script> -->

    <script src="../js/script.js"></script>
    <script src="../js/ProjectsComponent.js"></script>
    <script src="../js/SkillsComponent.js"></script>
    <script src="../js/EducationComponent.js"></script>
    <script src="../js/ContactComponent.js"></script>
    <script src="../js/FooterComponent.js"></script>
</body>

</html>