/* Contact Section */
.contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 1rem;
    background-color: #f9f9f9;
    gap: 2rem;
}

.contact-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
}

.contact-col h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;

}

.contact-col h1 span {
    color: #007bff;
}

.contact-row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

/* Contact Container */
.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 100%;
    max-width: 25%;
    min-width: 200px;
    height: auto;
}


.contact-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.contact-container:active {
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-container iconify-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
    color: #3b82f6;
}

.contact-container:hover iconify-icon {
    transform: translate(-50%, -50%) scale(1.2);
}

.contact-container h1 {
    position: absolute;
    bottom: 10px;
    font-size: 1.2rem;
    color: #666;
    text-align: center;
}

@media (max-width: 768px) {
    .contact-container {
        width: 80vw;
        height: 25vh;
    }

    .contact-container h1 {
        font-size: 1.1rem;
        padding: 0.5rem;
    }
}

@media (min-width: 769px) {
    .contact-container {
        width: 30vh;
        height: 30vh;
    }

    .contact-container h1 {
        font-size: 1.1rem;
        padding: 0.5rem;
    }
}