* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

#background-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #202224;
    z-index: 0;
}


header {
    position: relative;
    min-height: 90vh;
    background-color: #202224;
    overflow: hidden;
}


header .hero {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


header .hero p,
header .hero h1 {
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: bold;
    color: white;
    z-index: 1;
}

header .hero p {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    color: #dcdcdc;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
}

.hero-btns {
    display: flex;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    gap: 1rem;
    z-index: 1;
}


/* Button Outline */
.btn-outline,
.btn-blue {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 15px 30px;
    border-radius: 20px;
    text-decoration: none;
    white-space: nowrap;
    font-size: 1rem;
    transition: all 0.3s ease;
    gap: 0.5rem;
    background: #007bff;
    color: #fff;
    cursor: pointer;

}

.btn-outline {
    border: 2px solid #007bff;
    color: #007bff;
    background: transparent;
}

.btn-outline:hover {
    background: #007bff;
    border-color: #007bff;
    transform: scale(1.1);
    color: #fff;
}

.btn-blue:hover {
    /* background: #0056b3; */
    transform: scale(1.1);
    border-color: #0056b3;
}



/* Profile Header (Image) */
.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 10rem;
}

.profile-header img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    /* border: 3px solid #fff; */
    z-index: 1;
}



nav {
    position: fixed;
    top: 1.5rem;
    left: 50%;
    width: 60%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000;
    border-radius: 2rem;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-align: center;
}

/* Navigation Links */
.nav-links {
    display: inline;
    list-style: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline-flex;
    align-items: center;
    padding: 0 10px 0 10px;
}

.link-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.link-wrapper .link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    padding: 8px 20px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.link-wrapper .link.active,
.link-wrapper .link:hover {
    background-color: #3b82f6;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}



/* Responsive Adjustments for Large Screens */
@media (max-width: 1024px) {
    header {
        min-height: 50vh;
    }

    nav {
        width: 80%;
        padding: 10px 1rem;
    }

    .nav-links {
        gap: 10px;
        padding: 0 5px;
    }
}

/* Responsive Adjustments for Small Screens - Mobile View  */
@media (max-height: 600px) {
    header {
        min-height: 100vh;
    }

    .profile-header img {
        width: 12rem;
        height: 12rem;
    }

    nav {
        width: 80%;
        padding: 10px 1rem;
    }

    .nav-links {
        gap: 10px;
        padding: 0 5px;
    }
}


/* Responsive Adjustments for Medium Screens */
@media (max-width: 900px) {
    header {
        min-height: 55vh;
    }

    nav {
        width: 80%;
        padding: 10px 1rem;
    }

    .nav-links {
        gap: 10px;
        padding: 0 5px;
    }
}

/* Responsive Adjustments for Small Screens */
@media (max-width: 768px) {
    header {
        min-height: 70vh;
    }

    nav {
        width: 80%;
        padding: 10px 1rem;
    }

    .nav-links {
        gap: 10px;
        padding: 0 5px;
    }

    .link-wrapper .link {
        font-size: 0.9rem;
        padding: 6px 15px;
    }
}



@media (max-width: 576px) {
    header {
        min-height: 85vh;
    }

    .profile-header img {
        width: 12rem;
        height: 12rem;
    }


    .nav-links li {
        padding: 5px;
    }

    nav {
        padding: 5px 0;
    }

    .nav-links {
        gap: 5px;
    }

    .link-wrapper .link {
        font-size: 0.8rem;
        padding: 5px 10px;

    }
}

/* Responsive Animations */
header #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* Scroll Button */
header .scroll-btn-container {
    position: absolute;
    width: 100%;
    bottom: 150px;
    display: flex;
    justify-content: center;
}

.scroll-btn-container div a span {
    display: block;
    height: 20px;
    width: 20px;
    border-bottom: 2px solid #3b82f6;
    border-right: 2px solid #3b82f6;
    transform: rotate(45deg);
    margin: -20px 0;
    animation: animate 2s infinite;
}



header .socials {
    position: absolute;
    bottom: 40%;
    left: -125px;
    z-index: 10;
}

header .socials ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}





header .hero p .blue-link-underline {
    color: #3783ff;
}

.hero {
    align-self: center;
    display: contents;
    text-align: center;
    align-content: center;
    z-index: 1;
}


header .socials ul li {
    transition: 0.3s;
    width: 100%;
    display: flex;
    justify-content: end;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;

}

header .socials ul li a {
    text-align: right;
    height: 100%;
    width: 100%;
    padding: 15px 20px;
}

header .socials ul li a i {
    font-size: 1.75rem;
    margin-left: 1.5rem;
}

header .socials ul li:hover {
    transform: translateX(115px);
}



header .scroll-btn-container div {
    display: flex;
    justify-content: center;
    width: 100%;
}

header .scroll-btn-container div a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


header .scroll-btn-container div a span:nth-child(2) {
    animation-delay: -0.2s;
}

header .scroll-btn-container div a span:nth-child(3) {
    animation-delay: -0.4s;
}