* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}


#background-animation {
    width: 100%;
    background-color: #202224;
    z-index: 0;
    position: absolute;
}



header nav {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}


header nav .nav-links {
    z-index: 1000;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 80vh;
    background-size: cover;
    position: relative;
}


.nav-links {
    display: flex;
    flex-direction: row;
    padding-top: rem;
}

header nav .nav-links li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2rem;
}

header nav .nav-links a {
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
    /* padding: 0 0.5rem; */
}

hr {
    border: 0 solid;
    color: currentColor;
    padding: 0.1rem;
}


.iconify-icon {
    color: #3783ff;
    flex-direction: row;
    align-items: center;
    display: flex;
}

.link-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    color: #3783ff;
}

.link-wrapper::after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 0%;
    bottom: -8px;
    margin: auto;
    background: #3b82f6;
    transition: width 0.3s ease;
}

.link-wrapper:hover::after {
    width: 100%;
}

header .hero {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .hero h1,
header .hero p {
    color: white;
    z-index: 1;
}

header .hero h1,
header .hero h2 span {
    letter-spacing: 2px;
    white-space: nowrap;
    text-align: center;
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: bold;
}

header .hero p {
    color: #dcdcdc;
    line-height: 1.6;
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0.5rem;
}

header .hero p .blue-link-underline {
    color: #3783ff;
}

header .hero .hero-btns {
    white-space: nowrap;
    text-align: center;
    margin-top: 1rem;
}

.hero-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    font-size: large;
    z-index: 1;
}


/* Button Outline */
.btn-outline {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    border: 2px solid #007bff;
    color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    white-space: nowrap;
}

/* Hover Effect for Button Outline */
.btn-outline:hover {
    background-color: #007bff;
    color: #fff;
    border: 2px solid #007bff;
    text-decoration: none;
}

.btn-outline:hover h5,
/* Change the text color to white on hover */
.btn-outline:hover .iconify-icon {
    /* Change the icon color to white on hover */
    color: #fff;
}


.btn-blue {
    border: 2px solid #007bff;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    white-space: nowrap;
}



header .socials {
    position: absolute;
    bottom: 40%;
    left: -125px;
    z-index: 10;
}

header .socials ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.profile-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    gap: 1rem;

}


header #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    z-index: 1;
}


.profile-header img {
    z-index: 1;
    width: 10rem;
    height: 10rem;
    margin-top: 10rem;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
}

.hero {
    align-self: center;
    display: contents;
    text-align: center;
    align-content: center;
    z-index: 1;
}


header .socials ul li {
    transition: 0.3s;
    width: 100%;
    display: flex;
    justify-content: end;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;

}

header .socials ul li a {
    text-align: right;
    height: 100%;
    width: 100%;
    padding: 15px 20px;
}

header .socials ul li a i {
    font-size: 1.75rem;
    margin-left: 1.5rem;
}

header .socials ul li:hover {
    transform: translateX(115px);
}

header .scroll-btn-container {
    position: absolute;
    width: 100%;
    background: red;
    bottom: 150px;
}

header .scroll-btn-container div {
    display: flex;
    justify-content: center;
    width: 100%;
}

header .scroll-btn-container div a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header .scroll-btn-container div a span {
    display: block;
    height: 20px;
    width: 20px;
    border-bottom: 2px solid #3b82f6;
    border-right: 2px solid #3b82f6;
    transform: rotate(45deg);
    margin: -20px 0;
    animation: animate 2s infinite;
}

header .scroll-btn-container div a span:nth-child(2) {
    animation-delay: -0.2s;
}

header .scroll-btn-container div a span:nth-child(3) {
    animation-delay: -0.4s;
}