/* Projects Section */
.projects-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    margin-top: 2rem;
    padding: 5rem 0;
    width: 100%;
}

.projects-section h1 {
    font-size: 2rem;
    margin-bottom: 4rem;
    text-align: center;
}

.projects-section h1 span {
    color: #3783ff;
}

/* Projects Cards */
.projects-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 100%;
    padding: 0 2rem;
}

.projects-card {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projects-card:hover {
    transform: scale(1.05);
}

.projects-card img {
    width: 30vh;
    height: 30vh;
    object-fit: cover;
    border-radius: 1.5rem;
}

/* Projects Info */
.projects-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    width: 70%;
}

.projects-info h1{
    text-align: start;
    padding: 0;
    margin: 0;
}

.projects-info h4 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #555;
    line-height: 1.5;
}

.projects-info .projects-btns {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.projects-made {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.projects-made h4 {
    font-size: 0.9rem;
    color: gray;
    font-weight: 400;
    line-height: 1.5;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
    .projects-card {
        width: 100%;
    }

    .projects-cards {
        padding: 2rem;
    }

    .projects-card img {
        width: 20vh;
        height: 20vh;
    }
}

@media (max-width: 768px) {
    .projects-card {
        width: 100%;
    }

    .projects-card img {
        width: 18vh;
        height: 18vh;
    }
}

@media (max-width: 576px) {
    .projects-card {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 1.2rem;;
    }

    .projects-card img {
        display: none;
    }

    .projects-info {
        width: 100%;
        align-items: flex-start;
    }

    .projects-info h4 {
        font-size: 1rem;
    }

    .projects-cards {
        padding: 1rem;
    }
}